

1) Verify Your Own Devices
- Share without verification

2) Verify Another User's Devices

3) Backing up your devices/keys to the server 
Secure Secret Stroage (server key backup)
- prompt user to login again to backup/restore

4) Notify you of a new unknown device in your account

5) Notify others of your new unknown device

Reference
https://matrix.org/blog/2018/11/02/user-experience-preview-end-to-end-encryption-by-default
https://matrix.org/blog/2020/05/06/cross-signing-and-end-to-end-encryption-by-default-is-here
https://blog.riot.im/e2e-encryption-by-default-cross-signing-is-here/
